/build/
/target/
.project
.classpath
.settings
/test-output/
*.png
.idea/
*.iml
logident.log
/src/main/resources/*.old
*.pdf
*.zip
!src/test/resources/sutData/emmi/photo
/.apt_generated/
/.apt_generated_tests/
